#logo img{
    height: 6rem;
    width: auto;
}
#logo{
    display: flex;
    justify-content: center;
}
#main{
    display: flex;
    flex-direction: column;
}
#lineselect{
    padding: 2rem;
    display: flex;
}
.option{
    box-shadow: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}